{% extends 'base.html.twig' %}

{% block title %}Remplir la boite : {{ boite.nom }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Remplir la boite : {{ boite.nom }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }} 
        
    </div>

{% endblock %}